
html, body {
    height: 100%;
}

body {
    color: white;
    background: gray;
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
}

h1, h2 {
    color: white;
}

form, .table {
    color: white;
}

#global {
    min-height: 100%;  /* Voir commentaire sur html et body plus haut */
    background: black;
    width: 80%;
    margin: auto;	/* Permet de centrer la div */
    text-align: justify;
    padding: 5px 20px;
    color: white;
}

#contenu {
    margin-bottom : 30px;
}

.footer {
    margin-bottom: 10px;
}